{% load static %}


<footer class="footer-area">
  <div class="footer-widget">
    <div class="container">
      <div class="row footer-widget-wrapper pt-100 pb-70">
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box about-us">
            <a href="#" class="footer-logo">
              <img src="assets/img/logo/logo-dark.png" alt>
            </a>
            <p class="mb-4"> We are many variations of passages available but the majority have suffer alteration in some form by injected. </p>
            <ul class="footer-contact">
              <li>
                <div class="footer-call">
                  <div class="footer-call-icon">
                    <i class="fal fa-headset"></i>
                  </div>
                  <div class="footer-call-info">
                    <h6>24/7 Call Service</h6>
                    <a href="tel:+21236547898">+2 123 654 7898</a>
                  </div>
                </div>
              </li>
              <li>
                <i class="far fa-map-marker-alt"></i>25/B Milford Road, New York
              </li>
              <li>
                <a href="https://live.themewild.com/cdn-cgi/l/email-protection#cfa6a1a9a08faab7aea2bfa3aae1aca0a2">
                  <i class="far fa-envelopes"></i>
                  <span class="__cf_email__" data-cfemail="40292e262f002538212d302c256e232f2d">[email&#160;protected]</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Our Company</h4>
            <ul class="footer-list">
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> About Us </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Meet Our Team </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Contact Us </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Affiliate Program </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Advertising With Us </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Careers </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Our Blog </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Other Services</h4>
            <ul class="footer-list">
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Rewards Program </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Partners </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Community Program </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Investor Relations </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Developer Guide </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Travel API </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> PointsPLUS </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Help Center</h4>
            <ul class="footer-list">
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Account </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> FAQ's </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Legal Notice </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Privacy Policy </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Terms & Conditions </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Live Chat </a>
              </li>
              <li>
                <a href="#">
                  <i class="fas fa-angle-double-right"></i> Sitemap </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="footer-widget-box list">
            <h4 class="footer-widget-title">Newsletter</h4>
            <div class="footer-newsletter">
              <p>Subscribe Our Newsletter To Get Latest Update And News</p>
              <div class="subscribe-form">
                <form action="#">
                  <div class="form-group">
                    <div class="form-group-icon">
                      <input type="email" class="form-control" placeholder="Your Email">
                      <i class="far fa-envelope"></i>
                    </div>
                  </div>
                  <button class="theme-btn" type="submit"> Subscribe Now <i class="far fa-paper-plane"></i>
                  </button>
                  <p>
                    <i class="far fa-lock"></i> Your information is safe with us.
                  </p>
                </form>
              </div>
            </div>
            <div class="footer-payment-method">
              <h6>We Accept:</h6>
              <div class="payment-method-img">
                <img src="assets/img/payment/paypal.svg" alt>
                <img src="assets/img/payment/mastercard.svg" alt>
                <img src="assets/img/payment/visa.svg" alt>
                <img src="assets/img/payment/discover.svg" alt>
                <img src="assets/img/payment/american-express.svg" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <p class="copyright-text"> &copy; Copyright <span id="date"></span>
            <a href="#"> MyTrip </a> All Rights Reserved.
          </p>
        </div>
        <div class="col-md-6 align-self-center">
          <ul class="footer-social">
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
    